body {
    background-color: #111111;
    color: #e5e5e5;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}

a {
    color: #e5e5e5;
    text-decoration: none;
}

a:hover {
    /*opacity: 0.8;*/
    color: rgb(117, 182, 204);
}

::selection {
    color: rgb(117, 182, 204);
    background: #2D3448;
}

::-moz-selection {
    color: rgb(117, 182, 204);
    background: #2D3448;
}

table {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

/*table:hover {
    background-color: #12151C;
}*/

td {
    width: 25vw;
    vertical-align: text-top;
}

td:nth-child(2) {
    width: 70vw;
    padding-left: 5vw;
}

.grey {
    color: #7f7f7f;
}

.dark-grey {
    color: #2e2e2e;
}

img {
    width: 100%;
    max-width: 800px;
}

@media only screen and (max-width: 444px) {
    .p3 {
        padding: 1rem !important;
    }
}
